<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/product.css">
</head>
<body>
<%- include('../includes/nav.ejs') %>

    <main>
        <h3>My Products</h3>
        <% if (product_list.length > 0) { %>
        <!-- inside this cnn write vanilla js code -->
        <div class="grid">
            <% product_list.forEach((item) => { %>
            <article class="card product-item">
                <header class="card__header">
                    <h1 class="product__title"> <%= item.title %> </h1>
                </header>
                <div class="card__image">
                    <!-- <img src="https://cdn.pixabay.com/photo/2016/03/31/20/51/book-1296045_960_720.png" alt="A Book"> -->
                    <img src= "<%= item.imageUrl %>" >
                </div>
                <div class="card__content">
                    <h2 class="product__price">$<%= item.price %></h2>
                    <p class="product__description"> <%= item.details %> </p>
                </div>
                <div class="card__actions">
                    <form action = '/add-to-cart' method = "POST" >
                        <button class="btn">Add to Cart</button>
                    </form>
                </div>
            </article>
            <% }); %>
        </div>
        <% } else { %>
            <h3> No Products Found</h3>
        <% } %>
    </main>
</body>
<%- include('../includes/end.ejs') %>